Brotli==1.0.9
ConfigParser==5.2.0
cryptography==37.0.2
Cython==0.29.30
dl==0.1.0
docutils==0.17.1
Flask==2.1.2
HTMLParser==0.0.2
importlib_metadata==4.10.0
keyring==23.6.0
lockfile==0.12.2
lxml==4.7.1
numpy==1.22.0
ordereddict==1.1
protobuf==4.21.1
pyOpenSSL==22.0.0
pywin32==303
toml==0.10.2
tornado==6.1
weasyprint==55.0
xmlrpclib==1.0.1
zipp==3.7.0
